<article class="front9">
  <div class="hole">
    <span>Front</span>
    <span>0</span>
    <span>0</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span>Out</span>
  </div>
  <div class>
    <span>Front</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span>Out</span>
  </div>
  <div class="par">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span>36</span>
  </div>
  <div class="score">
    <span>Score</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="sub">36</span>
  </div>
</article>
<article class="back9">
  <div class="hole">
    <span>Back</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span>Total</span>
  </div>
  <div class="par">
    <span>Par</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="score">
    <span>Score</span>
    <span>6</span>
    <span>2</span>
    <span>5</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>4</span>
    <span>3</span>
    <span>6</span>
    <span class="sub">41</span>
    <span class="total">77</span>
  </div>
</article>
