<table>
  <tr>
    <td><mat-card>Hole</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Par</mat-card></td>
    <td *ngFor="let val of parArray | slice:0:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Handicap</mat-card></td>
    <td *ngFor="let val of handicapArray | slice:0:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td>
      <mat-card>
          <select [(ngModel)]="teeSelected" placeholder="Select Tee" (change)="teeLevel()">
            <option *ngFor="let par of parvalue" [value]="par.value">
              {{ par.viewValue }}
            </option>
          </select>
      </mat-card>

    </td>
    <td *ngFor="let val of yardageArray | slice:0:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <!--<div class="listItem" *ngFor="let list of currentList | listFilter : listfilterChar" (click)="openContactList()">-->
      <!--<div class="listInfo">-->
        <!--<h3>-->
          <!--{{list.Name}}-->
        <!--</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div *ngIf="(currentList | listFilter : listfilterChar).length === 0">-->
      <!--"No record found"-->
    <!--</div>-->
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
</table>
<hr>
<table>
  <tr>
    <td><mat-card>Hole</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Par</mat-card></td>
    <td *ngFor="let val of parArray | slice:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Handicap</mat-card></td>
    <td *ngFor="let val of handicapArray | slice:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>{{teeSelected}}</mat-card></td>
    <td *ngFor="let val of yardageArray | slice:9"><mat-card>{{val}}</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>
  <tr>
    <td><mat-card>Name</mat-card></td>
    <td><mat-card>1</mat-card></td>
    <td><mat-card>2</mat-card></td>
    <td><mat-card>3</mat-card></td>
    <td><mat-card>4</mat-card></td>
    <td><mat-card>5</mat-card></td>
    <td><mat-card>6</mat-card></td>
    <td><mat-card>7</mat-card></td>
    <td><mat-card>8</mat-card></td>
    <td><mat-card>9</mat-card></td>
    <td><mat-card>Out</mat-card></td>
  </tr>

</table>
